<h2 mat-dialog-title style="background-color: #3f51b5; color: #ffffff;">{{tituloAccion}} Usuario</h2>

<mat-dialog-content>
  <form [formGroup]="formUsuario">

    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="nombre" required="true">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="apellido" required="true">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input type="email" matInput autocomplete="off" formControlName="correo" required="true">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Clave</mat-label>
          <input [type]="ocultarClave ? 'password' : 'text'" matInput formControlName="clave" autocomplete="off">
          <button mat-icon-button matSuffix type="button" (click)="ocultarClave = !ocultarClave">
            <mat-icon matSuffix>{{ocultarClave ? 'visibility': 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rolId">
            <mat-option value="">Seleccione un Rol</mat-option>
            <mat-option *ngFor="let item of listaRoles" value="{{item.id}}">{{item.nombre}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>folder_supervised</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile style="width: 100%;">
          <mat-list dense>
              <mat-list-item>
                <mat-slide-toggle formControlName="esActivo" color="primary" (change)="onChangeSlideToggle($event)">
                  <span style="font-size: 14px; font-family: Roboto, sans-serif; color: #000000DE; font-weight: 595;">{{nombreEsActivado}}</span>
                </mat-slide-toggle>
              </mat-list-item>
          </mat-list>
      </mat-grid-tile>

    </mat-grid-list>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="warn">
    Cancelar
    <mat-icon matSuffix>cancel</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="onSalvar()" [disabled]="formUsuario.invalid">
    {{botonAccion}}
    <mat-icon matSuffix>save</mat-icon>
  </button>
</mat-dialog-actions>
