<h2 mat-dialog-title style="background-color: #3f51b5; color: #ffffff;">{{tituloAccion}} Sub Menú</h2>

<mat-dialog-content>
  <form [formGroup]="formSubMenu">

    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Menú</mat-label>
          <mat-select formControlName="menuId">
            <mat-option value="">Seleccione un menú</mat-option>
            <mat-option *ngFor="let menu of listaMenus" value="{{menu.id}}">{{menu.nombre}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>menu</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="nombre" required="true">
          <mat-icon matSuffix>playlist_add</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Icono</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="icono" required="true">
          <mat-icon matSuffix>playlist_add_check</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Url</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="url" required="true">
          <mat-icon matSuffix>note_add</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Nivel</mat-label>
          <input type="number" matInput autocomplete="off" formControlName="nivel" required="true">
          <mat-icon matSuffix>low_priority</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Orden</mat-label>
          <input type="number" matInput autocomplete="off" formControlName="orden" required="true">
          <mat-icon matSuffix>orders</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="warn">
    Cancelar
    <mat-icon matSuffix>cancel</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="onSalvar()" [disabled]="formSubMenu.invalid">
    {{botonAccion}}
    <mat-icon matSuffix>save</mat-icon>
  </button>
</mat-dialog-actions>
