<h2 mat-dialog-title style="background-color: #3f51b5; color: #ffffff;">{{tituloAccion}} Producto</h2>

<mat-dialog-content>
  <form [formGroup]="formProducto">

    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="nombre" required="true">
          <mat-icon matSuffix>collections_bookmark</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Precio Costo</mat-label>
          <input type="text" matInput formControlName="precioCosto" required="true" autocomplete="off"
          (input)="onInputFormatNumber($event, formProducto.controls['precioCosto'])">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Precio Venta</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="precioVenta" required="true"
          (input)="onInputFormatNumber($event, formProducto.controls['precioVenta'])">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Stock Mínimo</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="stockMinimo" required="true"
          (input)="onInputFormatNumber($event, formProducto.controls['stockMinimo'])">
          <mat-icon matSuffix>inventory</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Stock Actual</mat-label>
          <input type="text" matInput autocomplete="off" formControlName="stockActual" required="true"
          (input)="onInputFormatNumber($event, formProducto.controls['stockActual'])">
          <mat-icon matSuffix>inventory</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="categoriaId">
            <mat-option value="">Seleccione una Categoría</mat-option>
            <mat-option *ngFor="let item of listaCategorias" value="{{item.id}}">{{item.nombre}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile style="width: 100%;">
          <mat-list dense>
              <mat-list-item>
                <mat-slide-toggle formControlName="esActivo" color="primary" (change)="onChangeSlideToggle($event)">
                  <span style="font-size: 14px; font-family: Roboto, sans-serif; color: #000000DE; font-weight: 595;">{{nombreEsActivado}}</span>
                </mat-slide-toggle>
              </mat-list-item>
          </mat-list>
      </mat-grid-tile>

    </mat-grid-list>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="warn">
    Cancelar
    <mat-icon matSuffix>cancel</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="onSalvar()" [disabled]="formProducto.invalid">
    {{botonAccion}}
    <mat-icon matSuffix>save</mat-icon>
  </button>
</mat-dialog-actions>
